<ul nz-menu nzMode="inline" class="side-bar">
  <li nz-menu-item>
    <a [routerLink]="['/admin']">
    <span nz-icon nzType="shop"></span>
    Tiendas
  </a>
  </li>
  
  <li nz-menu-item>
    <a [routerLink]="['/admin', 'products']">
      <span nz-icon nzType="appstore"></span>
    Productos
    </a>
    
  </li>
  <li nz-menu-item>
    <a [routerLink]="['/admin', 'invoices']">
      <span nz-icon nzType="file-text"></span>
    Facturas
    </a>
  </li>
  
    <li nz-menu-item>
      <a [routerLink]="['/admin', 'orders']">
    <span nz-icon nzType="shopping-cart"></span>
    Ordenes
    </a>
  </li> 
  
  
</ul>